body {
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 1000px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cir {
    background-color: black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.rec {
    background-color: black;
    height: 50px;
    width: 5px;
}

.face {
    background-color: gray;
    height: 150px;
    width: 150px;
    border: 2px solid black;
    position: relative;
}

.eye1,
.eye2 {
    background-color: black;
    height: 30px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
}

.eye1 {
    top: 20px;
    left: 20px;
}

.eye2 {
    top: 20px;
    right: 20px;
}

.nose {
    background-color: black;
    height: 20px;
    width: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mouth {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid red;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.neck {
    height: 50px;
    width: 50px;
    background-color: black;
}

.mainb {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.body {
    height: 200px;
    width: 200px;
    background-color: gray;
    border: 2px solid black;
}

.leg {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.leg1,
.leg2 {
    height: 200px;
    width: 50px;
    background-color: black;
}

.hand1,
.hand2 {
    width: 50px;
    height: 100px;
    background-color: black;
}

.hand1 {
    transform: rotate(45deg);
}

.hand2 {
    transform: rotate(-45deg);
}

